Repository ButecoOpenSource/butecoopensource.github.io, pull requests merged in 2020-05, with the labels that each got.

#12 Deleted broked github actions in behalf of future fixes
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/workflows/jekyll.yml
Labels: bug

#11 AWS S3 em Python
  _posts/2020-05-15-usando-aws-s3-em-python.md
  assets/content/aws-python-s3.png
  assets/content/python-s3-tela-add-user.png
  assets/content/python-s3-tela-feito-upload-s3.png
  assets/content/python-s3-tela-s3-bucket-criado.png
  assets/content/python-s3-tela-user-credentials.png
  assets/content/python-s3-tela-user-permissions.png
Labels: may-2020, post

#14 Live morando no exterior
  _posts/2020-05-15-morando-no-exterior.md
Labels: may-2020, youtube

#13 Review Ubuntu 20.04
  _posts/2020-05-20-ubuntu-20-04.md
  assets/content/ubuntu-20-nvidia.png
  assets/content/ubuntu-20-themes.png
  assets/content/ubuntu-20-tweaks.png
  assets/content/ubuntu-20-yaru-theme-dark.png
  assets/content/ubuntu-20-yaru-theme.png
  assets/content/ubuntu-focal-fossa.png
Labels: may-2020, post
